BUILD_INFO ?= $(shell git describe --tags --always --dirty 2>/dev/null)

# -----------------------------------------------------------------------------
# ROM constants (self-contained replacements for rom_data.h symbols)
# -----------------------------------------------------------------------------
RUBY_ID = 0x415856
SAPPHIRE_ID = 0x415850
FIRERED_ID = 0x425052
LEAFGREEN_ID = 0x425047
EMERALD_ID = 0x425045

VERS_1_0 = 0
VERS_1_1 = 1
VERS_1_2 = 2

LANG_JPN = 'J'
LANG_ENG = 'E'
LANG_FRE = 'F'
LANG_GER = 'D'
LANG_ITA = 'I'
LANG_SPA = 'S'

# -----------------------------------------------------------------------------
# Set the debug game for IGNORE_GAME_PAK
# -----------------------------------------------------------------------------
DEBUG_GAME := $(EMERALD_ID)
DEBUG_VERS := $(VERS_1_0)
DEBUG_LANG := $(LANG_ENG)

# -----------------------------------------------------------------------------
# List of all the build defines (easy to edit: add/remove names in BUILD_DEFINE_VARS)
# NOTE: these will be set to 0 by default (by build_define_opt) if not specifically
# overridden below
# -----------------------------------------------------------------------------
BUILD_DEFINE_VARS := \
	PTGB_BUILD_LANGUAGE \
	DEBUG_MODE \
	PRINT_LINK_DATA \
	INSTANT_TEXT_SPEED \
	IGNORE_GAME_PAK \
	IGNORE_GAME_PAK_SPRITES \
	IGNORE_LINK_CABLE \
	IGNORE_MG_E4_FLAGS \
	IGNORE_UNRECEIVED_PKMN \
	FORCE_TUTORIAL \
	DONT_REMOVE_PKMN \
	DONT_HIDE_INVALID_PKMN \
	IGNORE_DEX_COMPLETION \
	FORCE_ALL_CAUGHT \
	WRITE_CABLE_DATA_TO_SAVE \
	SHOW_DATA_PACKETS \
	DISPLAY_CONTROL_CHAR \
	PAYLOAD_EXPORT_TEST \
	DONT_TRANSFER_POKEMON_AT_INDEX_X \
	POKEMON_INDEX_TO_SKIP \
	ENABLE_TEXT_DEBUG_SCREEN \
	DEBUG_PAYLOADS \
	DEBUG_GAME \
	DEBUG_VERS \
	ENABLE_MATCH_PID \
	ENABLE_DEBUG_SCREEN \
	USE_CUSTOM_MALLOC \
	CUSTOM_MALLOC_POOL_SIZE

define build_define_opt
-D$(1)=$(if $(filter undefined,$(origin $(1))),0,$($(1)))
endef

BUILDOPTS += -DBUILD_INFO=\"$(BUILD_INFO)\"
BUILDOPTS += -DDEBUG_LANG=\'$(subst ',,$(DEBUG_LANG))\'
BUILDOPTS += $(foreach var,$(BUILD_DEFINE_VARS),$(call build_define_opt,$(var)))